<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 Template</title>
</head>
<body>
  <div style="width:100%;font-family:times">
   <table style="border: 0.1px solid black;border-collapse: collapse;
    border-spacing: 0;">
       <tr>
        <td style="border: 0.1px solid black;" colspan="3" align="center"><b>FBI’s 10 Most Wanted</b></td>
       </tr>
       <tr>
        <td style="border: 0.1px solid black;" align="center" width="33%"><img align="center" width="100%" src="Images/ravelo.jpeg"/></td>
           <td style="border: 0.1px solid black;" align="center" width="33%"><a href="https://www.fbi.gov/wanted/topten/eduardo-ravelo">EDUARDO RAVELO</a></td>
        <td style="border: 0.1px solid black;" align="center" width="33%">$100,000</td>
       </tr>
   </table>

      WILLIAM BRADFORD BISHOP, JR. - reward of up to $100,000<br />
      ROBERT WILLIAM FISHER - reward of up to $5,000,000
    </div>
</body>
</html>
